body {
  font-family: "roboto", sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
  direction: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -----------категории------------- */
.catigories {
  padding-top: 64px;
  padding-bottom: 64px;
}

.catigories-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #000000;
}
.catigories-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
}

.catigories-item {
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
  width: 256px;
  border: 1px solid #d9d9de;
  margin-right: 32px;
  margin-bottom: 32px;
}
.catigories-wraper {
  padding: 13px 19px 16px;
}

/* ------------- class="galary-batton-item"----------------*/

.directions {
  background: rgba(112, 207, 41, 0.07);
  padding-top: 44px;
  padding-bottom: 80px;
}
.directions-title {
  margin-bottom: 50px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em;
  text-align: center;
  color: #000000;
}
.direction-discription {
  font-size: 16px;
  line-height: 1.3em;
  color: #333333;
}
.direction-list {
  display: flex;
  flex-wrap: wrap;
}
.direction-item {
  width: calc((100% - 132px) / 4);
  margin-right: 33px;
  margin-bottom: 37px;
}

/* фото-галерея */
.galery-titel {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em;
  color: #000000;
}
.direction-discription {
}

.galery-link {
  font-size: 16px;
  line-height: 1.19;
  text-decoration-line: underline;
  color: #0050b2;
}

.galery-wraper {
}

.galery-btn {
  width: 44px;
  height: 44px;
  border: 1px solid #0061d9;
  border-radius: 22px;
  line-height: 1.3px;
}
